.blog {
    padding: 73px 0 82px 0; 
    min-height: 920px; 
    background-color: #FFEFE7;
    .product_header {
        span {
            color: #BD957E;

        }
    }


    &__subtitle{
        color: #795744;
    }

    &__people {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
    }

    &__person {
        display: flex;
        align-items: center;
        padding-top: 75px;
        &_img {
            width: 160px;
            margin-right: 32px;
        }
    }

    &__descr {
        width: 201px;
    }
}