.carousel {
    padding-top: 81px; 
    &__inner {
        position: relative; 
        width: 750px;
        margin: 0 auto; 

    }

    .slick-prev, .slick-next {
        position: absolute;
        top: 50%; 
        left: -125px;
        transform: translateY(-50%);
        border: none;
        
        background-color: #fff;
        &:before {
            content: "";
        }
        img {
            width: 31px; 
            height: 50px;
        }
    }

    &__img {
        img {
            width: 100%;
            background: #C4C4C4;
            border-radius: 20px;

        }
    }

    &__descr {
        margin-top: 45px;
        font-family: 'Nunito Sans';
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        letter-spacing: 0.02em;

        color: #333333;
    }

    .slick-next {
        right: -125px;
        left: auto;    
    }

}